profiles {
  conda {
  	process.conda = "$baseDir/environment.yml"
  }
  test {
  	params.in = "$baseDir/testData/mos*.fasta"
  	params.motif = "$baseDir/testData/motifs.txt"
  }
}

manifest {
  name = 'TMRHarrison/MosMitCRT'
  author = 'Thomas Harrison'
  homePage = 'https://github.com/TMRHarrison/MosMitCRT'
  description = 'Automagically pull control regions from Culicidae mitogenome FASTAs.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.1'
  version = '1.0.0'
  /* versioning: X.Y.Z
  	X: Major release version
  	  - Anything that adds an analysis step.
  	  - Things like adding a BLAST search, adding options for genome annotation programs, etc.
  	  - Changes the core functionality of the program.
  	Y: Minor release version
  	  - Changing the interface or adding smaller features, things that don't affect the core functionality of the program.
  	  - Giving a command line option to add Prokka options, changing output folder strucutre, etc.
  	  - Optionally different, but produces the same type of output and accepts the same inputs.
  	Z: Bugfix version
  	  - For when I make mistakes and have to push another version to change something that otherwise breaks the program.
  	  - Also used for back-end improvements that don't actually affect the usage or output.
  */
}