profiles {
  conda {
  	process.conda = "$baseDir/environment.yml"
  }
  test {
  	params.in = "$baseDir/testData/mos*.fasta"
  	params.motif = "$baseDir/testData/motifs.txt"
  }
  test2 {
  	params.in = "$baseDir/testData/testv3.fasta"
  	params.nomotif = true
  }
}

manifest {
  name = 'TMRHarrison/MosMitCRT'
  author = 'Thomas Harrison'
  homePage = 'https://github.com/TMRHarrison/MosMitCRT'
  description = 'Automagically pull control regions from Culicidae mitogenome FASTAs.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.1'
  version = '1.0.0'
}